p.a {
    font-family: 'Roboto', sans-serif;
}
p.a {
    font-family: 'Raleway', sans-serif;
}

/*Primary Brand color(normal)CTAs
Focused
Active states
Links  color: #4D5AE5*/
/*Pressed state (hover) color #404BBF*/
/*Overlays Shadows Headings #2E2F42*/
/*-text-color:#434455*/
/*Subtle Text Helper text Deemphasized text #8E8F99
/*Accent color Hairlines Subtle backgrounds #E7E9FC*/
/*Light mode backgrounds Light mode Dialogs/alerts #F4F4FD*/
/*Overlay #2E2F42*/
/*Hero image background #2E2F42 */

:root {
    --hero-background-color: #2E2F42;
    --text-color: #434455;
    --headings-color: #2E2F42;
    --hover-color:#404BBF;
    --link-color:#4D5AE5;
    --background-color:#E5E5E5;
    --lolg-studio-color:#F4F4FD;
    --footer-text-color: #E7E9FC;
    --main-color:#ffffff;

} 
/* Header */

/* Logo */
.logo { 
   color:var(--headings-color);
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   line-height: 24px;
   text-decoration: none;
}
.logo-web {
   color:var(--link-color);
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 24px;
   text-decoration: none;
}
/* links */
.link {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color:var(--text-color);
   text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus{
color: var(--hover-color)
}
ul {
    list-style: none;
}
.site-address .address-mail {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color:var(--text-color);
text-decoration: none;
}
.site-address .address-mail:hover {
    color: var(--hover-color)
}
.site-address .address-phone {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px; 
letter-spacing: 0.02em;  
color: var(--text-color);
text-decoration: none;
}
.site-address .address-phone:hover {
    color:var(--hover-color)
}

/* HeroSection1 */
.hero {
    background-color:var(--hero-background-color)
}
.hero-titel{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color:var(--main-color);
    text-align: center;
    letter-spacing: 0.02em;
} 
/* Main Button */
.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color:var(--main-color);
    background-color: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
}
.hero .main-button:hover,
.hero .main-button:focus {
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

 .section{
    background:var(--main-color);
 }
.section-team{
    background: var(--main-color);
}
/* Scrol */
.secondary-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 68px;
    height: 24px;
    color: var(--link-color);

    width: 53px;
    height: 24px}

.section .secondary-button:hover,
.section .secondary-button:focus {
    background:var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color:var(--main-color);
}

.visually-hidden
    {
    position: absolute;
    top: -150%;
    z-index: -100;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    white-space: nowrap;
    }
    /* Body */
body {
    font-family: Roboto, Georgia, 'Times New Roman', Times, sans-serif;
}
.section .section-title{ 
    color: var(--headings-color) 
    }
.section-discription .section-title{
    color:var(--headings-color) 
    }
  
 .section .section-discription{
    color: var(--headings-color) 
    }

.section .section-p{
    color: var(--text-color) 
}
.section .section-p{
    color: var(--text-color) 
}
div{
background-color: var(--lolg-studio-color);
}
 /* Footer */
 .logo-studio{
    color:var(--lolg-studio-color);
    width: 71px;
    height: 22px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
 }
 .footer-logo{
    text-decoration: none;
 }
 .logo-web {
    text-decoration: none; 
 }
footer{
    background: var(--hero-background-color);
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}



