html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

p.a {
    font-family: 'Roboto', sans-serif;
}
p.a {
    font-family: 'Raleway', sans-serif;
}

/*Primary Brand color(normal)CTAs
Focused
Active states
Links  color: #4D5AE5*/
/*Pressed state (hover) color #404BBF*/
/*Overlays Shadows Headings #2E2F42*/
/*-text-color:#434455*/
/*Subtle Text Helper text Deemphasized text #8E8F99
/*Accent color Hairlines Subtle backgrounds #E7E9FC*/
/*Light mode backgrounds Light mode Dialogs/alerts #F4F4FD*/
/*Overlay #2E2F42*/
/*Hero image background #2E2F42 */

:root {
    --hero-background-color: #2E2F42;
    --text-color: #434455;
    --headings-color: #2E2F42;
    --hover-color:#404BBF;
    --link-color:#4D5AE5;
    --background-color:#E5E5E5;
    --lolg-studio-color:#F4F4FD;
    --footer-text-color: #E7E9FC;
    --main-color:#ffffff;

} 
/* .container {
  margin-left: auto;  
  margin-right: auto;
  width: 1128px;
  padding-right: 15px;
  padding-left: 15px;
} */
h1,
h2,
h3,
h4,
p {
margin-top: 0;
margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}
 button {
    cursor: pointer;
 }

/* Header */

.page-header .container {
    display:flex;
    flex-wrap: wrap;
}

.page-header {
width: 1440px;
height: 72px;
color:var(--lolg-studio-color);
border-bottom: 1px, solid var(--footer-text-color);
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Logo */
.logo { 
   color:var(--headings-color);
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   line-height: 24px;
   text-decoration: none;

   display: flex;
   flex-direction: row;
   align-items: center;

   width: 115px;
   height: 24px;

}


.logo-web {
   color:var(--link-color);
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 24px;
   text-decoration: none;
}
/* Navigation */
.link {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color:var(--text-color);
   text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus{
color: var(--hover-color)
}
ul {
    list-style: none;
}

.site-nav {   
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-left: 76px;
    
    width: 261px;
    height: 24px;

     }

.navigation, .site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

/* Addres */
.site-address .address-mail {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color:var(--text-color);
text-decoration: none;
}
.site-address .address-mail:hover {
    color: var(--hover-color)
}

.site-address .address-phone {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px; 
letter-spacing: 0.02em;  
color: var(--text-color);
text-decoration: none;
}
.site-address .address-phone:hover {
    color:var(--hover-color)
 
}

.site-address {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 332px;
    
}
.address-phone {
    margin-left: 40px;
}
/* HeroSection1 */
.hero {
display: flex;
flex-direction: column;
align-items: center;
padding: 185px 461px;
gap: 48px;

width: 1440px;
height: 594px;
margin-bottom: 126px;

background-color:var(--hero-background-color)

    
    
}
.hero-titel{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color:var(--main-color);
    text-align: center;
    letter-spacing: 0.02em;
} 
/* Main Button */
.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color:var(--main-color);
    background-color: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
   
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;  
     
}
.hero .main-button:hover,
.hero .main-button:focus {
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

 .section{
    background:var(--main-color);
 }
.section-team{
    background: var(--main-color);
}

    /* Main */
    /* Section2 */
body {
    font-family: Roboto, Georgia, 'Times New Roman', Times, sans-serif;
}
.section-title{ 
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--headings-color) 

    }
.section-discription .section-title{
    color:var(--headings-color) 
    }
  
.section-discription{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: var(--headings-color) 
    }

.section-p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color) 
}

.section-work {
    display: block;
width: 1440px;
height: 104px;
margin-bottom: 120px;
}

.work-list {
display: flex;
gap: 24px;
align-items: center;
flex-wrap: wrap;
height: 104px;
}
.work-item {
flex-basis: calc((100% - 72px) / 4);
}

/*  Section 3 */

.section-discription {
text-align: center;
width: 1158px;
}
.section-examp {
width: 1158px;
height: 532px;
margin-bottom: 120px;
margin-left: 141px;
}

.examples {
display: flex;
gap: 24px;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
}

.section-examp-pics {
width: 360px;
height: 300px;
flex-basis: ((100% - 48px) / 3);
}

/* Section 4 */
.section .section-team{ 
background-color: var(--lolg-studio-color);
width: 1440px;
height: 732px;
}


.section-discription {
font-weight: 700;
font-size: 36px;
line-height: 40px;
padding-top: 120px;
margin-bottom: 72px;
}

.team {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;  
}

.team-wrapper {
background-color: var(--main-color);
text-align: center;
width: 264px;
height: 380px;
}
 .section-team {
    border-bottom: 1px, solid var(--lolg-studio-color);
 }

.titel-team {
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-pic {
flex-basis: ((100% - 72px) / 4);
margin-bottom: 32px;
}

.section-title {
margin-bottom: 8px;
}

/* Scrol Portfolio */
.secondary-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 68px;
    height: 24px;
    color: var(--link-color);
    border: 1px solid var(--footer-text-color);
    border-radius: 4px;
}

.section .secondary-button:hover,
.section .secondary-button:focus {
    background:var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color:var(--main-color);
}

.container .container-scrol {
    background-color: var(--main-color);
}
    .scrol {
    width: 586px;
    height: 48px;
    margin-left: 427px;
    margin-right: 168px;
    display: flex;  
    gap: 24px; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    }

/* Apps */

    .container-apps {
    display: flex;
    gap: 48px 24px;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .apps-image  {
        flex-basis: calc((100% - 48px) / 3);
        }
        


.visually-hidden
    {
    position: absolute;
    top: -150%;
    z-index: -100;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    white-space: nowrap;
    }
 /* Footer */
 .logo-studio{
    color:var(--lolg-studio-color);
    width: 71px;
    height: 22px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
 }
 .footer-logo{
    text-decoration: none;
 }
 .logo-web {
   
    text-decoration: none; 
 }
footer{
    background: var(--hero-background-color);
    color: var(--footer-text-color);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

width: 1440px;
height: 310px;
}
.page-footer {
    padding: 100px 1020px 100px 156px;
}



